/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.customer-entry-in-list{
  padding: 10px;
  margin: 10px;
  background-color: #D3D6D4;
  border-radius:15px;
}
.customer-info-in-list{
  display: inline-block;
  float: left;
  margin-left: 50px;
}
.btn-buzz{
  float: right;
  margin-right: 50px;
}
.new-phone-number-field , .new-name-field{
  width: 400px;
  height: 50px;
  margin: 20px;
  font-size: 1.5em;
}
.btn-save{
  float: right;
  margin-right: 50px;
}
.img-font{
  position: relative;
  top: 10px;
}
.img-home-feature{
 color: black;
}
.fa-6{
  font-size: 15em !important;
  color: #262626;
  margin-top: 30px;
}
.delete-entry-icon{
  color: red;
  font-size: 1.5em !important;
}
.timer{
  background-color: grey;
  height: 200px;
  width: 200px;
  border-radius: 50%
}
.average-wait-time{
  font-size: 5em;
  color: white;
  margin-top: 20px;
}
.clock{
  font-size: 0.5em !important;
  margin-right: 5px;
}

.fa-user-plus, .fa-phone {
  width: 65px !important;
}

.timer {
  margin: auto;
}
.list-form{
  margin-top: 50px;
}
.sign_up_form{
  padding-top: 80px;
}
.form-signup{
  width: 600px;
  margin: 0 auto;
}